.app-container {
  text-align: center;
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: 40px;
  font-weight: 700;
  color: #0a2a43;
}

.bmi-container {
  width: 380px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}

.input-group {
  margin: 15px 0;
  text-align: left;
}

.input-group label {
  font-size: 16px;
  font-weight: 600;
  color: #0a2a43;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.calculate-btn,
.reset-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.calculate-btn {
  background: #0a84ff;
}

.reset-btn {
  background: #d9534f;
}

.result-card {
  margin-top: 25px;
  padding: 20px;
  background: #f0f9ff;
  border-left: 6px solid #0a84ff;
  border-radius: 12px;
}

.result-card h2 span {
  color: #0a84ff;
}
